/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 380 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/



.center {
	text-align: center;
}
/*Login con redes sociales*/
.oneall_social_login {
    max-width: 150px;
    margin: 0 auto;
}
/*Oscurecer las imágenes de los sliders*/
#fwslider .slide img {
	opacity: 0.5;
}
/*Cajas de RSS y Timeline*/
.timeline-user-twitter,
.rss-blog {
	float:right;
	border: solid 1px #51c8ea;
	margin-left: 10px;
	max-width: 250px;
    max-height: 300px;
    overflow-x: scroll;
}
#msndiv li {
    max-width: 100%;
}
/*Espacio para las medallas y redes sociales*/
.cover-photo-on.bp-user #buddypress div#item-nav, body.groups.cover-photo-on #buddypress div#item-nav {
    top: 370px;
}
/*Medallas*/
.actionsmedals {
    margin-bottom: 10px;
}
/*Redes sociales*/
 #buddypress div#item-header ul.social-icons span {
 	display: block;
 	background-color: #51c8ea;
 	border-radius: 100%;
}
div.profile-icons ul.social-icons {
	float: left;
}
div.profile-icons ul.social-icons li a {
    display: block;
    color: rgba(25, 25, 25, 0.8);
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    min-height: 36px;
    min-width: 36px;
    margin: 4px;
    padding: 0px;
    border-radius: 18px;
}
div.profile-icons ul.social-icons li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
div.profile-icons ul.social-icons li span:before {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    text-rendering: auto;
    text-decoration: inherit;
    speak: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    vertical-align: middle;
}
/*Lector de RSS*/
.rss-header-title {
    line-height: 24px;
    color: #292F33;
    text-align: center;
}


/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	.assistance {
	    margin-top: 2%;
	}


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 380px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	.center-content {
		width: 100%;
	}
	.left-content {
		width: 45%;
		float: left;
	}
	.right-content {
		width: 45%;
		float: right;
	}


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */